@model IEnumerable<Buoi4.Models.Hanghoa>
@{
    ViewBag.Title = "Quản lý hàng hóa";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<h2>Quản lý hàng hóa</h2>
<button class="btn btn-success">
    @Html.ActionLink("Thêm hàng hóa", "Create", new { @class = "text-decoration-none .text-reset" })
</button>
<table class="table">
    <tr>
        @* <th>
        hinh
        </th>
        <th>
        hinh
        </th>*@
        <th id="maHang">
            @Html.DisplayNameFor(model => model.Mahang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tenhang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donvitinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dongia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loaihanghoa.Tenloai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhasanxuat.Tennsx)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @* <td>
        <img src="@Html.DisplayFor(modelItem => item.Hinh)" />
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Hinh)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Mahang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenhang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donvitinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dongia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loaihanghoa.Tenloai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nhasanxuat.Tennsx)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "SuaHH", new { id = item.Mahang }) |
                @Html.ActionLink("Chi tiết", "xemHH", new { id = item.Mahang }) |

                <button onClick="deleteHH(@item.Mahang)" type="button" class="btn btn-primary mb-2">Xóa</button>
            </td>
        </tr>
    }
</table>

<script type="text/javascript">

    function deleteHH(id) {
        $.ajax({
            type: "post",
            url: "/Hanghoa/XoaHH",
            data: { id: "" + id },
            success: function (data) {
                alert("Xóa thành công")
                location.reload();
            }
        });
    };

</script>